public/soap/api_documentation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SoapAPI_Gerry_23091397164"
             targetNamespace="http://localhost/contact-api/soap/api"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://localhost/contact-api/soap/api"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">

    <!-- Type definitions -->
    <types>
        <xsd:schema targetNamespace="http://localhost/contact-api/soap/api">
            <!-- User type -->
            <xsd:complexType name="User">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="email" type="xsd:string"/>
                    <xsd:element name="remember_token" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Contact type -->
            <xsd:complexType name="Contact">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="user_id" type="xsd:int"/>
                    <xsd:element name="first_name" type="xsd:string"/>
                    <xsd:element name="last_name" type="xsd:string"/>
                    <xsd:element name="email" type="xsd:string"/>
                    <xsd:element name="phone" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Address type -->
            <xsd:complexType name="Address">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="contact_id" type="xsd:int"/>
                    <xsd:element name="street" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="province" type="xsd:string"/>
                    <xsd:element name="country" type="xsd:string"/>
                    <xsd:element name="postal_code" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Response type -->
            <xsd:complexType name="Response">
                <xsd:sequence>
                    <xsd:element name="success" type="xsd:boolean"/>
                    <xsd:element name="message" type="xsd:string"/>
                    <xsd:element name="user_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="contact_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="address_id" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Contacts array type -->
            <xsd:complexType name="ContactsArray">
                <xsd:sequence>
                    <xsd:element name="contact" type="tns:Contact" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Addresses array type -->
            <xsd:complexType name="AddressesArray">
                <xsd:sequence>
                    <xsd:element name="address" type="tns:Address" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Element definitions for operations -->
            <!-- User operations -->
            <xsd:element name="createUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="user" type="tns:User"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="createUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:User"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Contact operations -->
            <xsd:element name="createContact">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contact" type="tns:Contact"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="createContactResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getContact">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getContactResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Contact"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="updateContact">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contact" type="tns:Contact"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateContactResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="deleteContact">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteContactResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getAllContacts">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="user_id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAllContactsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:ContactsArray"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Address operations -->
            <xsd:element name="createAddress">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="address" type="tns:Address"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="createAddressResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getAddress">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAddressResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Address"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="updateAddress">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="address" type="tns:Address"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateAddressResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="deleteAddress">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteAddressResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getContactAddresses">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contact_id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getContactAddressesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:AddressesArray"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Message definitions -->
    <!-- User Messages -->
    <message name="createUserRequest">
        <part name="parameters" element="tns:createUser"/>
    </message>
    <message name="createUserResponse">
        <part name="parameters" element="tns:createUserResponse"/>
    </message>

    <message name="getUserRequest">
        <part name="parameters" element="tns:getUser"/>
    </message>
    <message name="getUserResponse">
        <part name="parameters" element="tns:getUserResponse"/>
    </message>

    <!-- Contact Messages -->
    <message name="createContactRequest">
        <part name="parameters" element="tns:createContact"/>
    </message>
    <message name="createContactResponse">
        <part name="parameters" element="tns:createContactResponse"/>
    </message>

    <message name="getContactRequest">
        <part name="parameters" element="tns:getContact"/>
    </message>
    <message name="getContactResponse">
        <part name="parameters" element="tns:getContactResponse"/>
    </message>

    <message name="updateContactRequest">
        <part name="parameters" element="tns:updateContact"/>
    </message>
    <message name="updateContactResponse">
        <part name="parameters" element="tns:updateContactResponse"/>
    </message>

    <message name="deleteContactRequest">
        <part name="parameters" element="tns:deleteContact"/>
    </message>
    <message name="deleteContactResponse">
        <part name="parameters" element="tns:deleteContactResponse"/>
    </message>

    <message name="getAllContactsRequest">
        <part name="parameters" element="tns:getAllContacts"/>
    </message>
    <message name="getAllContactsResponse">
        <part name="parameters" element="tns:getAllContactsResponse"/>
    </message>

    <!-- Address Messages -->
    <message name="createAddressRequest">
        <part name="parameters" element="tns:createAddress"/>
    </message>
    <message name="createAddressResponse">
        <part name="parameters" element="tns:createAddressResponse"/>
    </message>

    <message name="getAddressRequest">
        <part name="parameters" element="tns:getAddress"/>
    </message>
    <message name="getAddressResponse">
        <part name="parameters" element="tns:getAddressResponse"/>
    </message>

    <message name="updateAddressRequest">
        <part name="parameters" element="tns:updateAddress"/>
    </message>
    <message name="updateAddressResponse">
        <part name="parameters" element="tns:updateAddressResponse"/>
    </message>

    <message name="deleteAddressRequest">
        <part name="parameters" element="tns:deleteAddress"/>
    </message>
    <message name="deleteAddressResponse">
        <part name="parameters" element="tns:deleteAddressResponse"/>
    </message>

    <message name="getContactAddressesRequest">
        <part name="parameters" element="tns:getContactAddresses"/>
    </message>
    <message name="getContactAddressesResponse">
        <part name="parameters" element="tns:getContactAddressesResponse"/>
    </message>

    <!-- Port Type -->
    <portType name="SoapDocumentationPortType">
        <!-- User Operations -->
        <operation name="createUser">
            <input message="tns:createUserRequest"/>
            <output message="tns:createUserResponse"/>
        </operation>
        <operation name="getUser">
            <input message="tns:getUserRequest"/>
            <output message="tns:getUserResponse"/>
        </operation>

        <!-- Contact Operations -->
        <operation name="createContact">
            <input message="tns:createContactRequest"/>
            <output message="tns:createContactResponse"/>
        </operation>
        <operation name="getContact">
            <input message="tns:getContactRequest"/>
            <output message="tns:getContactResponse"/>
        </operation>
        <operation name="updateContact">
            <input message="tns:updateContactRequest"/>
            <output message="tns:updateContactResponse"/>
        </operation>
        <operation name="deleteContact">
            <input message="tns:deleteContactRequest"/>
            <output message="tns:deleteContactResponse"/>
        </operation>
        <operation name="getAllContacts">
            <input message="tns:getAllContactsRequest"/>
            <output message="tns:getAllContactsResponse"/>
        </operation>

        <!-- Address Operations -->
        <operation name="createAddress">
            <input message="tns:createAddressRequest"/>
            <output message="tns:createAddressResponse"/>
        </operation>
        <operation name="getAddress">
            <input message="tns:getAddressRequest"/>
            <output message="tns:getAddressResponse"/>
        </operation>
        <operation name="updateAddress">
            <input message="tns:updateAddressRequest"/>
            <output message="tns:updateAddressResponse"/>
        </operation>
        <operation name="deleteAddress">
            <input message="tns:deleteAddressRequest"/>
            <output message="tns:deleteAddressResponse"/>
        </operation>
        <operation name="getContactAddresses">
            <input message="tns:getContactAddressesRequest"/>
            <output message="tns:getContactAddressesResponse"/>
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="SoapDocumentationBinding" type="tns:SoapDocumentationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <!-- User Operations Bindings -->
        <operation name="createUser">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/createUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUser">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/getUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <!-- Contact Operations Bindings -->
        <operation name="createContact">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/createContact"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getContact">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/getContact"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateContact">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/updateContact"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteContact">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/deleteContact"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAllContacts">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/getAllContacts"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <!-- Address Operations Bindings -->
        <operation name="createAddress">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/createAddress"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAddress">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/getAddress"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateAddress">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/updateAddress"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteAddress">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/deleteAddress"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getContactAddresses">
            <soap:operation soapAction="http://localhost/contact-api/soap/api/getContactAddresses"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="SoapDocumentation">
        <port name="SoapDocumentationPort" binding="tns:SoapDocumentationBinding">
            <soap:address location="http://localhost/contact-api/public/soap/server.php"/>
        </port>
    </service>
</definitions>
